body{ /*linkar com styles depois*/
    font-family: "Poppins"; 
    font-size: 16px;
}

.cabecalho__menu__hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    margin: 1rem;
}

.cabecalho{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu__hamburguer{
    background-image: url("../assets/menu_black_24dp\ 1.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--azul-degrade);
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 0.2em;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.lista__menu__titulo, .lista__menu__item{
    padding: 1rem;
    background-color:var(--cor-secundaria);
    
}

.lista__menu__titulo{
   background-color: var(--titulo);
   font-family: var(--fonte-principal);
   font-weight: 700;
}

.lista__menu__link{
    font-family: var(--fonte-principal);
    background: var(--azul-degrade);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao, .container__titulo, .opcoes, .container__texto{
    display: none;
}


/*media query tablet*/
@media screen and (min-width: 1024px){
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block; 
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1rem;
        text-transform: uppercase;
    }

    .opcoes__item__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente{
        display: none;
    }

    .cabecalho__menu__hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista__menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--cor-secundaria);
    }

    .opcoes__item{
        padding: 2rem 1rem;
    }

    .lista__menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista__menu__item:hover > .lista__menu__link{
        -webkit-text-fill-color: var(--cor-secundaria);
    }
}

/*media query desktop*/
@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    
    .cabecalho{
        padding: 0 2rem;
    }

    .opcoes{
        margin-right: auto;
    }

    .opcoes__item:hover{
        text-decoration: underline;
    }

    .opcoes__item__link:hover{
        text-decoration: underline;
    }

    .container__texto{
        display: block;
    }

    .container__texto:hover{
        text-decoration: underline;
    }
}