body{ /*linkar com styles depois*/
    font-family: "Poppins"; 
    font-size: 16px;
}

.cabecalho__menu__hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    margin: 1rem;
}

.cabecalho{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 0.2em;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.lista__menu__titulo, .lista__menu__item{
    padding: 1rem;
    background-color:var(--cor-secundaria);
    
}

.lista__menu__titulo{
   background-color: var(--titulo);
   font-family: var(--fonte-principal);
   font-weight: 700;
}

.lista__menu__link{
    font-family: var(--fonte-principal);
    background: var(--azul-degrade);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao{
    display: none;
}